@import url('https://fonts.googleapis.com/css?family=Lato');
@font-face {
    font-family: 'CODE Bold';
    src: url("../font/CODE Bold.otf") format("opentype");
}
@font-face {
    font-family: 'Geometria';
    src: url("../font/Geometria.otf") format("opentype");
}
body{
    font-family: "CODE Bold", Sans-Serif;
}
body{
    background: #f09046  ; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( #7d4376,#f09046); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #7d4376,#f09046); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #7d4376,#f09046); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #7d4376,#f09046); /* Standard syntax */
}
a, a:hover, a:focus {
    outline: none;
    text-decoration: none;
}
/*.nav-bar{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%*/
/*}*/
/*.home{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
/*}*/
.home{
    position: fixed;
    top:20px;
    right: 20px;
    z-index: 2000000000;
    padding: 5px;
}
.back{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2000000000;
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
}
.isotope-grid{
    /*background-color: #EF5350;*/
    min-height: 70vh;
    width: 100%;
}
::-webkit-scrollbar-track
{
    border-radius: 5px;
    background-color: white;;
}

::-webkit-scrollbar
{
    width: 7px;
    border-radius: 5px;
    background-color: white;
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: #f9b32f;
    border: 5px solid #f9b32f;
}

.middle-parent{
    position: relative
}
.middle{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.buttons{
    display: block;
    padding: 0% 1% 5% 1%;
    margin-right: auto;
    margin-left: auto;
}
.buttons .col-md-2{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.grid {
    text-align: center;
    width: 100%;
}

.grid div {
    display: block;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    display: block;
    position: relative;
    filter: grayscale(90%);

}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #ffcf4b ;
    color: #e74c3c;
}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    font-family: "Lato";
    font-size: 170%;
    color: #fff;
}


.grid figcaption a {
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    background: #D50000;
    color: #fff;
}

/* Individual Caption Styles */

/* Caption Style 5 */
.cs-style-5 figure img {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

.cs-style-5 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

.no-touch .cs-style-5 figure:hover figcaption,
.cs-style-5 figure.cs-hover figcaption {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.cs-style-5 figure a {
    position: absolute;
    bottom: 5px;
    right: 5px;
}


@media (min-width: 1200px) {
    .grid div {
        width: 33.33%; !important;
    }
    .btn{
         width: 150px;;
    }

}
@media (max-width: 1200px) and (min-width: 460px) {
    .grid div {
        width: 50%; !important;
    }
    .btn{
        width: 150px;
    }
}
@media (max-width: 460px) {
    .grid div {
        width: 100%; !important;
    }
    .btn{
        width:100%;
    }
}





/*
Button Hover Effect
*/
/* General button style (reset) */
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/* Button 1 */
.btn-1 {
    border: 3px solid #fff;
    color: #fff;
}

/* Button 1f */
.btn-1f {
    overflow: hidden;
}

.btn-1f:after {
    width: 101%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.btn-1f:hover,
.btn-1f:active {
    color: #505050;
}

.btn-1f:hover:after {
    height: 75%;
    opacity: 1;
}

.btn-1f:active:after {
    height: 130%;
    opacity: 1;
}

.header{
    height: 30vh;
    text-align: center;
   
}
.header-link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 4em;
    line-height: 1;
    color: #9e9ba4;
    display: inline-block;
}
/* Manko */
.link--manko {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 .65em 0 0.65em;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.link--manko:hover {
    color: #404040;
}



/* Caption Style 3 */
.cs-style-3 figure {
    overflow: hidden;
}

.cs-style-3 figure img {
	max-width: 100%;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
    filter: grayscale(0%);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.cs-style-3 figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/*
*FORM
*/

#mail1{
    height: 7vh;
    color: #222;
	border: 3px solid #222;
    text-align: center;
    font-family: "CODE Bold", "Helvetica Neue", sans-serif;
    transition: 0.1s all ease-out;
}
#mail1:focus{
    box-shadow: none;
    border: 4px solid #222;
}
