<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Waves 2017 | The Ripple Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Waves 2017, Waves Bits Goa, Bits Goa, Goa, Charity, Teach for India, Non Government organisation" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<script src="/static/js/jquery.min.js"></script>
<!--start-smoth-scrolling-->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
	<!--head-->
	<div class="head" id="home">
		<div class="container">
			<div class="head-top">
				<div class="col-md-6 h-left">
					<p>+91 75076 89437</p>
				</div>
				<div class="col-md-6 h-right">
					<ul>
						<li><a href="https://www.facebook.com/bitswaves/"><span class="fb"> </span></a></li>
						
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>	
		</div>
	</div>
	<!--head-->
	<!--header-->	
	<div class="header">
		<div class="container">
			<div class="header-main">

				<div class="logo">
					<a href="/"><img src="/static/images/logo.PNG" alt=""></a>
				</div>
				<div class="head-right">	   		
					<div class="top-nav">
						<span class="menu"><img src="/static/images/nav-icon.png" alt=""> </span>
						<ul>
							<li><a href="/socialcause"  class="active"><span class="glyphicon glyphicon-home"></span>Home</a></li>
							<li><a href="#helpstart"><span class="glyphicon glyphicon-info-sign"></span>Cause</a></li>							
							<li><a href="#whatwedo"><span class="glyphicon glyphicon-certificate"></span>What We do</a></li>	
							<li><a href="#"><span class="glyphicon glyphicon-picture"></span>Media</a></li>								
							<li><a href="/socialcause/reg"><span class="glyphicon glyphicon-envelope"></span>Join the Movement</a></li>
							<div class="clearfix"> </div>
						</ul>
						<!--script-->
					<script>
						$("span.menu").click(function(){
							$(".top-nav ul").slideToggle(500, function(){
							});
						});
					</script>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>	
		</div>
	</div>
	<!--//header-->
	<!--banner-starts-->
	<div class="banner"> 
		<div class="container">
			<div class="banner-top">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="banner-text">
								<h3>Hello, Help us Help you</h3>
								<p>We understand our social responsibility</p>
							</div>
						</li>
						<!--<li>
							<div class="banner-text">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>Aenean consectetur fringilla mi</p>
							</div>
						</li>
						<li>
							<div class="banner-text">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>Aenean consectetur fringilla mi</p>
							</div>
						</li>-->
					</ul>
				</div>
			</section>
			</div>
		</div>
	</div>
	<!--banner-end-->
	<!--FlexSlider-->
	<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" />
	<script defer src="/static/js/jquery.flexslider.js"></script>
	<script type="text/javascript">
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
	<!--End-slider-script-->
	<!--welcome-starts-->
	<div class="welcome">
		<div class="container">
			<div class="welcome-top">
				<div class="col-md-4 welcome-left heading">
					<h2>Welcome</h2>
					<h5>To the Ripple Project</h5>
					<p>If the problems of humanity are the demons we need to encounter, then, the spear of education must be the weapon of our choice.</p>
				</div>	
				<div class="col-md-4 welcome-left">
					<div class="welcome-one">
						<div class="wel-left">
							<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						</div>
						<div class="wel-right">
							<h4>How?</h4>
							<p> The initiative includes a volunteering program, a book collection drive and clothes and stationery collection drive.</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="welcome-two">
						<div class="wel-left">
							<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
						</div>
						<div class="wel-right">
							<h4>Logic</h4>
							<p>These books can be used for education less fortunate students who are in an honest need of material to read and learn from.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>	
				<div class="col-md-4 welcome-left">
					<div class="welcome-one">
						<div class="wel-left">
							<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
						</div>
						<div class="wel-right">
							<h4>Why?</h4>
							<p> The use of school books gets reduced to a minimum after a student moves on to college.We aim not only to provide books to underprivileged students, but also to provide them with any aid that we can to help them in their formative years of learning</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="welcome-two">
						<div class="wel-left">
							<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
						</div>
						<div class="wel-right">
							<h4>With</h4>
							<p>The collection drive is boosted manifold by the involvement of Goonj, and Teach For India. </p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>	
				<div class="clearfix"></div>	
			</div>	
		</div>
	</div>
	<!--welcome-end-->
	<!--help-starts-->
	<div class="help" id="helpstart">
		<div class="help-left">
			<img src="/static/images/h2.jpg" alt="" />
		</div>
		<div class="help-right heading">
			<h3>Cause</h3>
			<h5>“Education is not preparation for life; education is life itself.”</h5>
			<p>India has made strides in primary school enrolment but despite an initially high rate of enrolment, drop-out rates are very high. India continues to have 2.27 million children out of school. A number of reasons have been attributed for this situation, but the most popularly accepted reason is the quality of education in schools. 17% of teachers are absent from classrooms every day. India is currently facing one of the worst educational crises in the world.</p>
			<div class="tool">
				<a class="tooltips" href="#">
				<span></span></a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>	
	<!--help-end-->
	<!--events-starts-->
	<div class="events" id="whatwedo">
		<div class="container">
			<div class="events-top heading">
				<h3>What We Do</h3>
				<p>The Ripple Project,launched as the social wing of Waves is dedicated to the cause of children's education,starting it's maiden year.
In collaboration with Teach for India and Goonj,we've launched a volunteership program wherein anyone interested in contributing towards children's education can do so through Teach for India classrooms and a variety of related projects.<br><br>

In addition to this,together with Teach for India and Goonj, we plan to give as much as we can to less fortunate students through nation-wide collection drives in the months leading to Waves. Join us and be the change!</p>
			<a href="/socialcause/reg"><h4>Join The Movement</h4></a>
			</div>
			<!--<div class="events-bottom">
				<div class="col-md-6 event-left">
					<img src="/static/images/e1.jpg" alt="" />
					<div class="event">
						<h4>Vivamus pulvinar lectus eu purus</h4>
						<p> Etiam varius facilisis mauris, vitae consectetur ipsum pellentesque nec. Mauris iaculis mollis ante a sagittis. Sed eu ligula urna. Suspendisse potenti. Donec eu porttitor diam, eget eleifend massa.</p>
					</div>
					<div class="date">
						<p>May 29,2015</p>
					</div>
				</div>	
				<div class="col-md-3 event-right">
					<div class="e-1">
						<img src="/static/images/e2.jpg" alt="" />
						<h4>Morbi et facilisis tellus</h4>
					</div>
					<div class="e-2">
						<img src="/static/images/e3.jpg" alt="" />
						<h4>Morbi et facilisis tellus</h4>
					</div>
				</div>	
				<div class="col-md-3 event-right">
					<div class="e-1">
						<img src="/static/images/e4.jpg" alt="" />
						<h4>Morbi et facilisis tellus</h4>
					</div>
					<div class="e-2">
						<img src="/static/images/e5.jpg" alt="" />
						<h4>Morbi et facilisis tellus</h4>
					</div>
				</div>	-->
				<div class="clearfix"></div>	
			</div>
		</div>	
	</div>	
	<!--events-end-->
	
	<!--letter-starts-->
	<!--<div class="letter">
		<div class="container">
			<div class="letter-top heading">
				<h3>Newsletter Subscription</h3>
				<div class="letter-bottom">
					<form>
						<input type="text" value="Enter Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Name';}">
						<input type="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
						<input type="submit" value="Subscribe">
					</form>
				</div>
			</div>
		</div>
	</div>-->
	<!--letter-end-->
	<!--team-starts-->
	<div class="team">
		<div class="container">
			<div class="team-top heading">
				<h3>In Collaboration with</h3>
			</div>
			<div class="team-bottom">
				<div class="col-md-3 team-left"></div>
				<div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
					<a target="_blank" href="http://goonj.org//">
						<img src="/static/images/goonj.png" alt="Goonj" style="width: 100%">
						<div class="captn">
							<h4></h4>
							<p></p>
						</div>
						<div class="team-text">
							<h5></h5>
							<p></p>
						</div>
					</a>					
				</div>
				<div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
					<a target="_blank" href="http://www.teachforindia.org/">
						<img src="/static/images/t1.png" alt="Teach For India" style="width: 100%">
						<div class="captn">
							<h4></h4>
							<p></p>
						</div>
						<div class="team-text">
							<h5></h5>
							<p></p>
						</div>
					</a>					
				</div>
				<!--<div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
					<a href="#">
						<img src="images/t2.jpg" alt="">
						<div class="captn">
							<h4>Adaline</h4>
							<p>Nam id urna ipsum</p>
						</div>
						<div class="team-text">
							<h5>Adaline</h5>
							<p>Nam id urna ipsum</p>
						</div>
					</a>					
				</div>
				<div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
					<a href="#">
						<img src="images/t3.jpg" alt="">
						<div class="captn">
							<h4>Thomas</h4>
							<p>Nam id urna ipsum</p>
						</div>
						<div class="team-text">
							<h5>Thomas</h5>
							<p>Nam id urna ipsum</p>
						</div>
					</a>					
				</div>
				<div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
					<a href="#">
						<img src="images/t4.jpg" alt="">
						<div class="captn">
							<h4>Selena</h4>
							<p>Nam id urna ipsum</p>
						</div>
						<div class="team-text">
							<h5>Selena</h5>
							<p>Nam id urna ipsum</p>
						</div>
					</a>					
				</div>-->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--team-end-->
	<!--address-starts-->
	<div class="address">
		<div class="container">
			<div class="address-top">
				<div class="col-md-4 add-left">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					<p><label>BITS Pilani, KK Birla Goa Campus</label>
						</p>
				</div>
				<div class="col-md-4 add-left">
					<span class="glyphicon glyphicosns-user" aria-hidden="true"></span>
					<p>Aravind<br>+91 75076 89437<br><a href="mailto:aravindv@bits-waves.org">aravindv@bits-waves.org</a> 
					</p>
				</div>
				<div class="col-md-4 add-left">
					<span class="glyphicon glyphicosns-user" aria-hidden="true"></span>
					<p>Yash Agarwal<br>+91 9967635466 <br><a href="mailto:yash@bits-waves.org">yash@bits-waves.org</a> 
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--address-end-->
	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<a href="http://bits-waves.org"><h3>Waves</h3></a>
				<p>Site Design: <a href="http://www.prefedge.com">Aryan Agarwal</a></p>
				<p>Backend: <a href="http://sharanry.github.io">Sharan RY</a></p>
				<a href="#home" class="scroll"><img src="/static/images/top-arrow.png" alt="" /></a>
			</div>
		</div>
	</div>
	<!--footer-end-->
</body>
</html>
