{% extends "registration/wavesRegBase.html" %}

{% block content %}
	
    <form class="contact_form" action="#" method="POST" name="contact_form">
        {% csrf_token %}
        <ul>
            <li>
                <!-- <input type="text" class="textbox" placeholder="Enter Your Name" required /> -->
                {{ form.name }}
                <label><img src="/static/reg/images/contact.png" alt=""></label>
            </li>
            <li>
                <!-- <input type="email" class="textbox1" name="email" placeholder="Enter Your Email" required /> -->
                {{ form.email }}
                <!-- <span class="form_hint">Enter a valid email</span> -->
                 <label><img src="/static/reg/images/message.png" alt=""></label>
            </li>
             <li>
                <!-- <input type="text" class="textbox" placeholder="Enter Your College name" required /> -->
                {{ form.college }}
                <label><img src="/static/reg/images/college.png" alt=""></label>
            </li>
             <li>
                <!-- <input type="text" class="textbox" placeholder="Enter Your Contact No." required /> -->
                {{ form.phone_number }}
                <label><img src="/static/reg/images/Phone.png" alt=""></label>
            </li>
             <li>
                <!-- <input type="text" class="textbox" placeholder="Event You Want To Register For" required /> -->
                {{ form.event }}
                <label><img src="/static/reg/images/join.png" alt=""></label>
            </li>
        </ul>
            <input type="submit" value="submit" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'submit';}">
        
{% endblock content %}