<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Waves 2017 | Events</title>
        <link href="/static/main/css/main.css" rel="stylesheet" type="text/css" />
         <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main/css/events.css">
        
    </head>
    <body style="width: 100%">
    
    <div class="nav-bar" style="z-index: 100000; font-family: 'Pacifico', cursive;">
<ul class="lg_menu" id="right_menu">
<li class="lg_item"> <a href="http://bits-waves.org/reg"> Register</a></li>
<li class="lg_item"><a href="http://bits-waves.org/socialcause">Social Cause</a></li>
<li class="lg_item"><a href="http://bits-waves.org/events">Events</a></li>
</ul>
 <div class="container" id="mob_icon" onclick="myFunction(this)" style="position: absolute;">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div> 
<a href="http://bits-waves.org"><img id="logo" src="/static/main/images/logo.png" style="z-index:111111 " /></a>
<ul class="lg_menu" id="left_menu">
<li class="lg_item"><a href="http://bits-waves.org/sponsors">Sponsors</a></li>
<li class="lg_item"><a href="http://bits-waves.org/our_team">Our Team</a></li>
<li class="lg_item"><a href="http://bits-waves.org/contact_us">Contact Us</a></li>
</ul>
<div id="myMenu" style="position: relative; width: 100%; text-align:left; height: 800px;background-color: rgba(0,0,0,0.35);  z-index: 100000 ">
<ul class="mob_menu_item" >
<a href="http://bits-waves.org/reg"><li class="mob_lg_item">  Register</li></a>
<a href="http://bits-waves.org/socialcause"><li class="mob_lg_item">Social Cause</li></a>
<a href="http://bits-waves.org/events"><li class="mob_lg_item">Events</li></a>
<a href="http://bits-waves.org/sponsors"><li class="mob_lg_item">Sponsors</li></a>
<a href="http://bits-waves.org/our_team"><li class="mob_lg_item">Our Team</li></a>
<a href="http://bits-waves.org/contact_us"><li class="mob_lg_item">Contact Us</li></a>
</ul>
</div>
</div>
<div class="back_box" style=""></div>
        
        <header class="middle-parent header" style="width: 100%">
            <div class="middle" style="text-align: center">
                <a class="header-link  link--manko" href="" style="text-align: center">Events</a><br><br>
                <p style="font-size: 20px;"><a class="link--manko" href="/static/rulebook.pdf" target="_blank">Events Rulebook</a></p>
            </div>
        </header>
        <div class="container-fluid buttons" style="width: 100%">
            <div class="button-group filter-button-group">
                <div class="row center-block ">
                  
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn" style="width: 100%;" data-filter=".beauvista">Beau Vista</button>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn" style="width: 100%;" data-filter=".carpedictum">CarpeDictum</button>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn" style="width: 100%;" data-filter=".florence">Florence</button>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn" style="width: 100%;" data-filter=".specials">Specials</button>
                    </div>
                   <!--  <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".arts">arts</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".online">online</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".dance">dance</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".design">design</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".fun">fun</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".quizzes">quizzes</button>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <button class="btn-1 btn-1f btn " data-filter=".theatre">theatre</button>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="container-fluid isotope-grid" style="width: 100%">
            <div class="center-block">
                <div class="grid-item-parent grid cs-style-3 ">
                    
                    <div class="grid-item specials">
                        <figure>
                            <img src="/static/main/images1/events/mr_waves.jpg" alt="Mr. Ms. Waves">
                            <figcaption>
                                <h3>Mr. & Ms. Waves</h3>
                                <a href="/mrwaves">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item specials">
                        <figure>
                            <img src="/static/main/images1/events/Contention.JPG" alt="contention">
                            <figcaption>
                                <h3>Contention</h3>
                             <a href="/contention">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item specials">
                        <figure>
                            <img src="/static/main/images1/events/fashp.jpg" alt="FashP">
                            <figcaption>
                                <h3>FashP</h3>
                                <a href="/fashp">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <!-- <div class="grid-item specials">
                        <figure>
                            <img src="/static/main/images1/events/irshad.JPG" alt="Irshad">
                            <figcaption>
                                <h3>Irshad</h3>
                               <a href="/irshaad">More Details</a>
                            </figcaption>
                        </figure>
                    </div> -->
                    
                    <div class="grid-item specials">
                        <figure>
                            <img src="/static/main/images1/events/moot.JPG" alt="Moot">
                            <figcaption>
                                <h3>Lex-Omnia Moot Court</h3>
                               <a href="/moot">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item specials">
                        <figure>
                            <img src="/static/main/images1/events/searock.JPG" alt="searock">
                            <figcaption>
                                <h3>Searock</h3>
                              <a href="/searock">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item specials">
                        <figure>
                            <img src="/static/main/images1/events/sf.JPG" alt="Strangely Familiar">
                            <figcaption>
                                <h3>Strangely Familiar</h3>
                                <a href="/sf">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item specials">
                        <figure>
                            <img src="/static/main/images1/events/smtf.JPG" alt="Show Me The Funny">
                            <figcaption>
                                <h3>Show Me The Funny</h3>
                           <a href="/smtf">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item specials">
                        <figure>
                            <img src="/static/main/images1/events/spinoff.JPG" alt="SpinOff">
                            <figcaption>
                                <h3>SpinOff</h3>
                              <a href="/spinoff">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item florence">
                        <figure>
                            <img src="/static/main/images1/events/alaap.jpg" alt="Alaap">
                            <figcaption>
                                <h3>Alaap</h3>
                               <a href="/alaap">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item florence">
                        <figure>
                            <img src="/static/main/images1/events/dancingduo.jpg" alt="Dancing Duo">
                            <figcaption>
                                <h3>Dancing Duo</h3>
                            <a href="/dancingduo">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item florence">
                        <figure>
                            <img src="/static/main/images1/events/indian_rock.jpg" alt="Indian Rock">
                            <figcaption>
                                <h3>Indian Rock</h3>
                               <a href="/indianrock">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item florence">
                        <figure>
                            <img src="/static/main/images1/events/jokebox.JPG" alt="Jukebox">
                            <figcaption>
                                <h3>Jukebox</h3>
                               <a href="/jukebox">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item florence">
                        <figure>
                            <img src="/static/main/images1/events/natyanjali.JPG" alt="Natyanjali">
                            <figcaption>
                                <h3>Natyanjali</h3>
                               <a href="/natyanjali">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item florence">
                        <figure>
                            <img src="/static/main/images1/events/rangmanch.jpg" alt="Rangmanch">
                            <figcaption>
                                <h3>Rangmanch</h3>
                               <a href="/rangmanch">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item florence">
                        <figure>
                            <img src="/static/main/images1/events/solonote.jpg" alt="Solonote">
                            <figcaption>
                                <h3>Solonote</h3>
                                <a href="/solonote">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item florence">
                        <figure>
                            <img src="/static/main/images1/events/sizzle.jpg" alt="Sizzle">
                            <figcaption>
                                <h3>Sizzle</h3>
                                <a href="/sizzle">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    < <div class="grid-item florence">
                        <figure>
                            <img src="/static/main/images1/events/nukkadnatak.jpg" alt="Nukkad Natak">
                            <figcaption>
                                <h3>Nukkad Natak</h3>
                                <a href="/nukkadnatak">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item florence">
                        <figure>
                            <img src="/static/main/images1/events/skime.JPG" alt="skime">
                            <figcaption>
                                <h3>Skime</h3>
                              <a href="/skime">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item florence">
                        <figure>
                            <img src="/static/main/images1/events/sota.jpg" alt="Silence of the Amps">
                            <figcaption>
                                <h3>Silence of the Amps</h3>
                                <a href="/sota">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item beauvista">
                        <figure>
                            <img src="/static/main/images1/events/best_waste.jpg" alt="Best Out of Waste">
                            <figcaption>
                                <h3>Best Out of Waste</h3>
                               <a href="/boow">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item beauvista">
                        <figure>
                            <img src="/static/main/images1/events/corture.jpg" alt="Corture">
                            <figcaption>
                                <h3>Couture</h3>
                               <a href="/corture">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item beauvista">
                        <figure>
                            <img src="/static/main/images1/events/artathon.jpg" alt="Artathon">
                            <figcaption>
                                <h3>Artathon</h3>
                               <a href="/artathon">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item beauvista">
                        <figure>
                            <img src="/static/main/images1/events/caricreatures.jpg" alt="Cari-creatures">
                            <figcaption>
                                <h3>Cari-creatures</h3>
                                <a href="/caricreatures">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item beauvista">
                        <figure>
                            <img src="/static/main/images1/events/doodle.jpg" alt="Let’s Doodle">
                            <figcaption>
                                <h3>Let’s Doodle</h3>
                               <a href="/doodle">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                    <div class="grid-item beauvista">
                        <figure>
                            <img src="/static/main/images1/events/portraiture.JPG" alt="Portrature">
                            <figcaption>
                                <h3>Portrature</h3>
                               <a href="/portrature">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                      <div class="grid-item beauvista">
                        <figure>
                            <img src="/static/main/images1/events/blindart.JPG" alt="Blind Art">
                            <figcaption>
                                <h3>Blind Art</h3>
                               <a href="/blindart">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid-item beauvista">
                        <figure>
                            <img src="/static/main/images1/events/affiche.jpg" alt="Affiche">
                            <figcaption>
                                <h3>Affiche</h3>
                               <a href="/affiche">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                     <div class="grid-item beauvista">
                        <figure>
                            <img src="/static/main/images1/events/ohsnap.jpg" alt="Blind Art">
                            <figcaption>
                                <h3>Oh Snap</h3>
                               <a href="/ohsnap">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                     <div class="grid-item beauvista">
                        <figure>
                            <img src="/static/main/images1/events/short.jpg" alt="Blind Art">
                            <figcaption>
                                <h3>Sho(r)t</h3>
                               <a href="/short">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                      <div class="grid-item carpedictum">
                        <figure>
                            <img src="/static/main/images1/events/inverse.jpg" alt="Inverse">
                            <figcaption>
                                <h3>Inverse</h3>
                               <a href="/inverse">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                      <div class="grid-item carpedictum">
                        <figure>
                            <img src="/static/main/images1/events/culturalgauntlet.JPG" alt="Cultural Gauntlet">
                            <figcaption>
                                <h3>Cultural Gauntlet</h3>
                               <a href="/culturalgauntel">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid-item carpedictum">
                        <figure>
                            <img src="/static/main/images1/events/mela.jpg" alt="Mela Quiz">
                            <figcaption>
                                <h3>Mela Quiz</h3>
                               <a href="/mela">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid-item carpedictum">
                        <figure>
                            <img src="/static/main/images1/events/wordgames.jpg" alt="Word Games">
                            <figcaption>
                                <h3>Word Games</h3>
                               <a href="/wordgames">More Details</a>
                            </figcaption>
                        </figure>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
    <script src="/static/main/js/modernizer.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/main/js/isotope.js"></script>
    <script>
        var $grid = $('.grid-item-parent').isotope({
            // options
            itemSelector: '.grid-item',
            layoutMode: 'fitRows',
            stagger: 30
        });
        $grid.isotope('shuffle');
        $grid.isotope({filter: '.theatre'});
        $grid.isotope({filter: '.flagship'});
        $grid.isotope({filter: '.quizzes'});
        $grid.isotope({filter: '.fun'});
        $grid.isotope({filter: '.music'});
        $grid.isotope({filter: '.literature'});
        $grid.isotope({filter: '.games'});
        $grid.isotope({filter: '.lifestyle'});
        $grid.isotope({filter: '.specials'});
        $grid.isotope({filter: '.florence'});
        $grid.isotope({filter: '.carpedictum'});
        $grid.isotope({filter: '.beauvista'});
        $grid.isotope({filter: '*'});
        
        $('.filter-button-group').on('click', 'button', function () {
            var filterValue = $(this).attr('data-filter');
            $grid.isotope({filter: filterValue});
        });
        
        $(window).resize(function () {
            $grid.isotope('reloadItems')
        });
        window.addEventListener("keyup", function (e) {
            if (e.keyCode == 27) window.location = "http://bits-waves.org/";
        }, false);
    </script>
    <script src="/static/main/js/toucheffect.js"></script>

    <script type="application/ld+json">
        {
        "@context": "http://www.schema.org",
        "@type": "WebSite",
        "name": "Waves 2017",
        "alternateName": "Waves 2017 BIITS Goa",
        "url": "http://bits-waves.org",
         "keywords":"Waves, Goa , Waves 2017, BITS Goa"
        }
    </script>
    <script type="text/javascript">
  function myFunction(x) {
    x.classList.toggle("change");
} 
</script>
<script type="text/javascript">
  $(function() {
  var menuVisible = false;
  $('#mob_icon').click(function() {
    if (menuVisible) {
      $('#myMenu').css({'display':'none'});
     $('body').css({'background':'#A8D2DE'});
     $('.back_box').css({'width':'100%'});
      $('.back_box').css({'height':'10%'});
      
      menuVisible = false;
      return;
    }
    $('#myMenu').css({'display':'block'});
    $('body').css({'background':''});
     $('.back_box').css({'width':'100%'});
      $('.back_box').css({'height':'100%'});
      
    menuVisible = true;
  });
  
});

</script>
    
</html>