<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Waves 2017 | Our Team</title>
		<meta name="description" content="Waves 2017 event registration, experience the tale of two shades this waves" />
		<meta name="keywords" content="Waves 2017, Waves BITS Goa, BITS Goa, Waves Events, Events" />
		<meta name="author" content="Aryan Agarwal, prefedge.com" />
		<link rel="shortcut icon" href="favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Abril+Fatface" rel="stylesheet">	
		<link rel="stylesheet" type="text/css" href="/static/ourteam/css/component.css" />
		<link rel="stylesheet" type="text/css" href="/static/ourteam/css/style.css" />
		<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href="/static/ourteam/main.css" rel="stylesheet" type="text/css" />
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
	</head>
	<body class="loading" style=" background: #f09046  ; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( #7d4376,#f09046); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #7d4376,#f09046); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #7d4376,#f09046); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #7d4376,#f09046); /* Standard syntax */">
		<div class="nav-bar" style="z-index: 100000; font-family: 'Pacifico', cursive;">
<ul class="lg_menu" id="right_menu">
<li class="lg_item"> <a href="http://bits-waves.org/reg/"> Register</a></li>
<li class="lg_item"><a href="http://bits-waves.org/socialcause">Social Cause</a></li>
<li class="lg_item"><a href="http://bits-waves.org/events">Events</a></li>
</ul>
 <div class="container" id="mob_icon" onclick="myFunction(this)" style="position: absolute;">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div> 
<a href="http://bits-waves.org/"><img id="logo" src="/static/ourteam/img/logo.png" style="z-index:111111 " /></a>
<ul class="lg_menu" id="left_menu">
<li class="lg_item"><a href="http://bits-waves.org/sponsors">Sponsors</a></li>
<li class="lg_item"><a href="http://bits-waves.org/our_team">Our Team</a></li>
<li class="lg_item"><a href="http://bits-waves.org/contact_us">Contact Us</a></li>
</ul>
<div id="myMenu" style="position: relative; width: 100%; text-align:left; height: 800px;background-color: rgba(0,0,0,0.35);  z-index: 100000 ">
<ul class="mob_menu_item" >
<a href="http://bits-waves.org/reg"><li class="mob_lg_item">  Register</li></a>
<a href="http://bits-waves.org/socialcause"><li class="mob_lg_item">Social Cause</li></a>
<a href="http://bits-waves.org/events"><li class="mob_lg_item">Events</li></a>
<a href="http://bits-waves.org/sponsors"><li class="mob_lg_item">Sponsors</li></a>
<a href="http://bits-waves.org/our_team"><li class="mob_lg_item">Our Team</li></a>
<a href="http://bits-waves.org/contact_us"><li class="mob_lg_item">Contact Us</li></a>
</ul>
</div>
</div>
<div class="back_box" style="top: 0"></div>

	<h1 style="text-align: center; margin-top: 100px; color: #9e9ba4;font-size: 4em;">Our Team</h1>
		<div class="container">
		<main >
		
		<div class="row">
			<section class="content content--c1" style="">
				
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg1">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/rahul.jpg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Rahul Bansal</h3>
							<p class="tilter__description">Convener</p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg2">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/yasha.jpg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Yash Agarwal</h3>
							<p class="tilter__description">Research Head</p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg3">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/srivats.jpg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Srivats Mohan</h3>
							<p class="tilter__description">Events Head</p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>	
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg4">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/aravind.jpg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Aravind Venugopal</h3>
							<p class="tilter__description">Operations Head</p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg5">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/heth.jpeg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Het Satra</h3>
							<p class="tilter__description">Sponsorship Head</p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg11">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/aarsh.jpeg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Aarsh Thakur</h3>
							<p class="tilter__description">Sponsorship Head</p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg6">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/swapnil.jpeg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Swapnil P. Kumar</h3>
							<p class="tilter__description">Creative Head</p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg7">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/akash.jpeg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Akash Pareek</h3>
							<p class="tilter__description">Creative Head</p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg8">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/akshat.jpeg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Akshat Budania</h3>
							<p class="tilter__description"></p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg9">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/angad.jpeg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Angad Singh</h3>
							<p class="tilter__description">Media Head</p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg10">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/shikar.jpg" alt="/static/ourteam/img02" />

						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Shikhar Rastogi</h3>
							<p class="tilter__description"></p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg11">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/aditya.jpeg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Aditya Malhotra </h3>
							<p class="tilter__description">Backstage Head</p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg11">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/kartik.jpeg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Kartik Kumar Saxena </h3>
							<p class="tilter__description">ProNites Head</p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				<a href="#" class="tilter tilter--1 col-lg-3 col-sm-4" id="myImg11">
					<figure class="tilter__figure">
						<img class="tilter__image" src="/static/ourteam/img/prashant.jpeg" alt="/static/ourteam/img02" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Prashant Agnihotri</h3>
							<p class="tilter__description">Finance Head</p>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>
				
			</section>
			</div>
			</div>
		</main>


					<!-- The Modal -->
			<!-- <div id="myModal1" class="modal"> -->

			  <!-- The Close Button -->
			<!--   <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span> -->

			  <!-- Modal Content (The Image) -->
			  <!-- <img class="modal-content" id="/static/ourteam/img01"> -->

			  <!-- Modal Caption (Image Text) -->
			 <!--  <div id="caption">sadsaddas</div>
			</div> -->
			<!-- The Modal -->
			<div id="myModal2" class="modal">

			  <!-- The Close Button -->
			  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

			  <!-- Modal Content (The Image) -->
			  <img class="modal-content" id="/static/ourteam/img01">

			  <!-- Modal Caption (Image Text) -->
			  <div id="caption"></div>
			</div>
			<!-- The Modal -->
			<div id="myModal3" class="modal">

			  <!-- The Close Button -->
			  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

			  <!-- Modal Content (The Image) -->
			  <img class="modal-content" id="/static/ourteam/img01">

			  <!-- Modal Caption (Image Text) -->
			  <div id="caption"></div>
			</div>
			<!-- The Modal -->
			<div id="myModal4" class="modal">

			  <!-- The Close Button -->
			  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

			  <!-- Modal Content (The Image) -->
			  <img class="modal-content" id="/static/ourteam/img01">

			  <!-- Modal Caption (Image Text) -->
			  <div id="caption"></div>
			</div>
			<!-- The Modal -->
			<div id="myModal5" class="modal">

			  <!-- The Close Button -->
			  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

			  <!-- Modal Content (The Image) -->
			  <img class="modal-content" id="/static/ourteam/img01">

			  <!-- Modal Caption (Image Text) -->
			  <div id="caption"></div>
			</div>
			<!-- The Modal -->
			<div id="myModal6" class="modal">

			  <!-- The Close Button -->
			  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

			  <!-- Modal Content (The Image) -->
			  <img class="modal-content" id="/static/ourteam/img01">

			  <!-- Modal Caption (Image Text) -->
			  <div id="caption"></div>
			</div>
			<!-- The Modal -->
			<div id="myModal7" class="modal">

			  <!-- The Close Button -->
			  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

			  <!-- Modal Content (The Image) -->
			  <img class="modal-content" id="/static/ourteam/img01">

			  <!-- Modal Caption (Image Text) -->
			  <div id="caption"></div>
			</div>
			<!-- The Modal -->
			<div id="myModal8" class="modal">

			  <!-- The Close Button -->
			  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

			  <!-- Modal Content (The Image) -->
			  <img class="modal-content" id="/static/ourteam/img01">

			  <!-- Modal Caption (Image Text) -->
			  <div id="caption"></div>
			</div>
			<!-- The Modal -->
			<div id="myModal9" class="modal">

			  <!-- The Close Button -->
			  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

			  <!-- Modal Content (The Image) -->
			  <img class="modal-content" id="/static/ourteam/img01">

			  <!-- Modal Caption (Image Text) -->
			  <div id="caption"></div>
			</div>
			<!-- The Modal -->
			<div id="myModal10" class="modal">

			  <!-- The Close Button -->
			  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

			  <!-- Modal Content (The Image) -->
			  <img class="modal-content" id="/static/ourteam/img01">

			  <!-- Modal Caption (Image Text) -->
			  <div id="caption"></div>
			</div>
			<!-- The Modal -->
			<div id="myModal11" class="modal">

			  <!-- The Close Button -->
			  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

			  <!-- Modal Content (The Image) -->
			  <img class="modal-content" id="/static/ourteam/img01">

			  <!-- Modal Caption (Image Text) -->
			  <div id="caption"></div>
			</div>



		<script src="/static/ourteam/js/imagesloaded.pkgd.min.js"></script>
		<script src="/static/ourteam/js/anime.min.js"></script>
		<script src="/static/ourteam/js/main.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
		(function() {
			var tiltSettings = [
			{},
			{
				movement: {
					imgWrapper : {
						translation : {x: 10, y: 10, z: 30},
						rotation : {x: 0, y: -10, z: 0},
						reverseAnimation : {duration : 200, easing : 'easeOutQuad'}
					},
					lines : {
						translation : {x: 10, y: 10, z: [0,70]},
						rotation : {x: 0, y: 0, z: -2},
						reverseAnimation : {duration : 2000, easing : 'easeOutExpo'}
					},
					caption : {
						rotation : {x: 0, y: 0, z: 2},
						reverseAnimation : {duration : 200, easing : 'easeOutQuad'}
					},
					overlay : {
						translation : {x: 10, y: -10, z: 0},
						rotation : {x: 0, y: 0, z: 2},
						reverseAnimation : {duration : 2000, easing : 'easeOutExpo'}
					},
					shine : {
						translation : {x: 100, y: 100, z: 0},
						reverseAnimation : {duration : 200, easing : 'easeOutQuad'}
					}
				}
			},
			];

			function init() {
				var idx = 0;
				[].slice.call(document.querySelectorAll('a.tilter')).forEach(function(el, pos) { 
					idx = pos%2 === 0 ? idx+1 : idx;
					new TiltFx(el, tiltSettings[idx-1]);
				});
			}

			// Preload all images.
			imagesLoaded(document.querySelector('main'), function() {
				document.body.classList.remove('loading');
				init();
			});	
			pater.addEventListener('mouseenter', function() {
				anime.remove(pathEl);
				anime({
					targets: pathEl,
					d: paths.active,
					duration: 400,
					easing: 'easeOutQuad'
				});
			});

			pater.addEventListener('mouseleave', function() {
				anime.remove(pathEl);
				anime({
					targets: pathEl,
					d: paths.default,
					duration: 400,
					easing: 'easeOutExpo'
				});
			});
		})();
		</script>
		<script type="text/javascript">
			// Get the modal
			var modal1 = document.getElementById('myModal1');

			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img1 = document.getElementById('myImg1');
			var modalImg1 = document.getElementById("/static/ourteam/img01");
			var captionText1 = document.getElementById("caption1");
			img1.onclick = function(){
			    modal1.style.display = "block";
			    modalImg1.src = this.src;
			    captionText1.innerHTML = this.alt;
			}

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
			  modal1.style.display = "none";
			} 

		</script>
	</body>
</html>