<!DOCTYPE html>
<html lang="en">
<head>
  <title>Waves 2017| Sponsors</title>
  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="/static/main/css/mainsponsors.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet"> 
   <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    
    body{
       background: #000000;
    }
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }
 
  #head2{
    margin-top: 7%; font-family: 'Josefin Slab', serif; font-size: 60px;
  }
  h3, h2{
    margin:0;
  }
  #modal-heading{
     margin-top: 7%; font-family: 'Josefin Slab', serif; font-size: 60px;
  }
h3{
  color: #fff;
  margin-top: 10px;
}
.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;  
}

.blue
{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

.red
{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

.green
{
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}

.yellow
{
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}
.even{
  padding: 0;
  margin:0;
}
.main-logo{
  width: 500px;
  margin-left: 0px;
}
.main-logo-1{
  width: 390px;
  margin-left: 0px;
}
.main-logo-2{
  width: 420px;
  margin-left: 0px;
}
a{
  color: black;
}
   @media (max-width: 800px) {
    
  #head2{
    margin-top: 20%;
  }
 
   }
  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
    .main-logo{
      width: 300px;
    }
    .main-logo-1{
      width: 275px;
    }
    .main-logo-2{
      width: 275px;
    }
    .princess-logo{
      max-width: 300px;
    }
  }

  </style>
</head>
<body>

<div class="nav-bar" style="z-index: 100000; font-family: 'Pacifico', cursive; background-color: rgba(0,0,0,1); border-bottom: 1px solid #fff">
<ul class="lg_menu" id="right_menu">
<li class="lg_item"> <a href="http://bits-waves.org/reg"> Register</a></li>
<li class="lg_item"><a href="http://bits-waves.org/socialcause">Social Cause</a></li>
<li class="lg_item"><a href="http://bits-waves.org/events">Events</a></li>
</ul>
 <div class="container" id="mob_icon" onclick="myFunction(this)" style="position: absolute;">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div> 
<a href="http://bits-waves.org"><img id="logo" src="/static/main/images/logo.png" style="z-index:111111 " /></a>
<ul class="lg_menu" id="left_menu">
<li class="lg_item"><a href="http://bits-waves.org/sponsors">Sponsors</a></li>
<li class="lg_item"><a href="http://bits-waves.org/our_team">Our Team</a></li>
<li class="lg_item"><a href="http://bits-waves.org/contact_us">Contact Us</a></li>
</ul>
<div id="myMenu" style="position: relative; width: 100%; text-align:left; height: 800px;background-color: rgba(0,0,0,0.35);  z-index: 100000 ">
<ul class="mob_menu_item" >
<a href="http://bits-waves.org/reg"><li class="mob_lg_item">  Register</li></a>
<a href="http://bits-waves.org/socialcause"><li class="mob_lg_item">Social Cause</li></a>
<a href="http://bits-waves.org/events"><li class="mob_lg_item">Events</li></a>
<a href="http://bits-waves.org/sponsors"><li class="mob_lg_item">Sponsors</li></a>
<a href="http://bits-waves.org/our_team"><li class="mob_lg_item">Our Team</li></a>
<a href="http://bits-waves.org/contact_us"><li class="mob_lg_item">Contact Us</li></a>
</ul>
</div>
</div>
<div class="back_box" style=""></div>
<!-- Nav Bar ends Here -->
<div class="container text-center" style="width: 100%;">    
  <h3 id="head2" style="">Sponsors</h3><br>
  <!-- Row  1-->
  <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
   <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    
    </div>
    <div class="col-sm-12 col-lg-6" style=" background: rgba(0, 0, 0, 0)" style="width: 550px; height: 180px; text-align: center;">

    <h3 style="margin-bottom: -50px;padding-top: 0px; font-size: 25px; margin-top:-10px">Powered By</h3><a href="https://droom.in"><img src="/static/main/images1/dosm/2.png" class='main-logo'></a>

    </div>
   
   <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    </div>
  </div>
<div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0);  padding-bottom: 10px; margin-top:30px">

    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    
    </div>
    <div class="col-sm-12 col-lg-6" style=" background: rgba(0, 0, 0, 0)" style="width: 550px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 0px; margin-top: 45px;">Title Sponsor-Bollywood Night</h3><a href="http://mtv.in.com/colorsofyouth/"><img src="/static/main/images1/dosm/1.png" class='main-logo-1'></a>
    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    </div>
    

</div>
<div class="row" style="margin-bottom: 30px; background: rgba(0, 0 , 0, 0);  padding-bottom: 10px;">

    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    
    </div>
    <div class="col-sm-12 col-lg-6" style="background: rgba(0, 0 , 0, 0.5);" style="width: 300px; height: 180px; text-align: center;">

    <h3 style="margin-bottom: 20px;margin-top: 40px;">Title Sponsor-VH1 night</h3><a href="http://integriticlothing.com"><img src="/static/main/images1/dosm/3.png"  class='main-logo-2' style='background-color: rgba(255,255,255,1);padding:13px; border-radius: 5px'></a>
    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    </div>

</div>
<div class="row" style="margin-top: 60px; margin-bottom: 30px;t">
   <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;"></div>
    
    <div class="col-sm-12 col-lg-6" style="" style="licwidth: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: -10px;margin-top: 40px;">Powered By sponsor-VH1 Night</h3><a href="https://droom.in"><img src="/static/main/images1/dosm/2.png" class='main-logo'></a>

    </div>
   
   <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    </div>
  </div>
  </div>
<div class="row" style="margin-top: 60px; margin-bottom: 30px;">
   <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    
    </div>
    <div class="col-sm-12 col-lg-6" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 40px">Event Partner for Oh Snap</h3><br><a href="http://www.natgeotraveller.in/ "><img src="/static/main/images1/dosm/NGT.jpg" class='main-logo'></a>

    </div>
   
   <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    </div>
  </div>
<div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4);  padding-bottom: 10px;">
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">

    <h3 style="margin-bottom: 20px;margin-top: 20px;">Sustainibility Partner</h3><a href="http://wipro.com"><img src="/static/main/images1/dosm/4.png" height="200px"></a>
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Higher Education Partner</h3><a href="http://www.time4education.com"><img src="/static/main/images1/dosm/5.png" height="200px"></a>

    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">

    <h3 style="margin-bottom: 20px;margin-top: 20px;">Hospitality Partner</h3><a href="http://cidadedegoa.com"><img src="/static/main/images1/dosm/16.jpg" height="200px"></a>
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Safety Partner</h3><a href="https://manforcecondoms.com"><img src="/static/main/images1/dosm/6.png" height="200px" width="100%;"></a>
    </div>
    
  </div>

  <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px;">
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">

    <h3 style="margin-bottom: 20px;margin-top: 20px;">Beverage Partner</h3><img src="/static/main/images1/dosm/Real.jpg" height="200px">

    </div>
    <div class="col-sm-12 col-lg-6" style="" style="width: 350px; height: 180px; text-align: center;">

    <h3 style="margin-bottom: 20px;margin-top: 20px;">Official Festival Partner</h3><img src="/static/main/images1/dosm/Princess.jpg" height="200px" class='princess-logo'>

    </div>
     <div class="col-sm-12 col-lg-3" style="width: 350px; height: 180px; text-align: center;">

    <h3 style="margin-bottom: 20px;margin-top: 20px;">Poker Partner</h3><a href="http://madoverpoker.com"><img src="/static/main/images1/dosm/7.png" height="200px" style="background: rgba(255,255,255,1)"></a>

    </div>
  </div>
  <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px;">
     <div class="col-sm-12 col-lg-4" style="" style="width: 350px; height: 180px;margin-top:10px; text-align: center;">

    <h3 style="margin-bottom: 20px;margin-top: 40px;">Comfort Partner</h3><a href="http://www.recroncertified.com"><img src="/static/main/images1/dosm/8.jpg" height="200px"></a>

    </div>
     <div class="col-sm-12 col-lg-4" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Style Partner</h3><a href="https://www.fbbonline.in"><img src="/static/main/images1/dosm/9.png" height="200px"></a>
    </div>
 <div class="col-sm-12 col-lg-4" style="" style="width: 350px; height: 180px; text-align: center;">

    <h3 style="margin-bottom: 20px;margin-top: 20px;">Title Sponsor of Natyanjali</h3><a href="http://www.zasyastudio.com"><img src="/static/main/images1/dosm/10.png" height="200px"></a>

    </div>
  </div>

  <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px;">
     <div class="col-sm-12 col-lg-4" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Title Sponsor of Indian Rock</h3><a href="https://www.atlantiswatersports.com"><img src="/static/main/images1/dosm/11.jpg" height="200px"></a>
    </div>

  <div class="col-sm-12 col-lg-4" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Title Sponsor of Searock</h3><a href="https://m.facebook.com/protostarstudio/"><img src="/static/main/images1/dosm/12.png" height="200px"></a>
    </div>
     <div class="col-sm-12 col-lg-4" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Title Sponsor of Strangely Familiar</h3><a href="https://numadic.com"><img src="/static/main/images1/dosm/13.png" height="200px"></a>
    </div>
  </div>

  <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px;">
    <div class="col-sm-12 col-lg-4" style="" style="width: 350px; height: 180px; text-align: center;">

    <h3 style="margin-bottom: 20px;margin-top: 20px;">Banking Partner</h3><a href="http://www.sbi.co.in"><img src="/static/main/images1/dosm/14.jpeg" height="200px"></a>
    </div>
    
    <div class="col-sm-12 col-lg-4" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Stationery partner</h3><a href="http://www.luxorpen.com"><img src="/static/main/images1/dosm/15.png" height="200px" width="100%"></a>

    </div>

    <div class="col-sm-12 col-lg-4" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Consulere Partner
</h3><a href="http://www.gim.ac.in"><img src="/static/main/images1/dosm/17.png" height="200px"></a>

    </div>
    </div>

    

      <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px; ">
 <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">

    <h3 style="margin-bottom: 20px;margin-top: 20px;">In Association With</h3><a href="http://www.vh1.com/"><img src="/static/main/images1/domac/48.png" height="200px"></a>
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">In Association With</h3><a href="http://www.comedycentral.in/"><img src="/static/main/images1/domac/13.png" height="200px"></a>
    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Exclusive Multiplex Partner</h3><a href="http://www.inoxindia.com/"><img src="/static/main/images1/domac/27.png" height="175px" width="100%"></a>
    </div>
    
    <div class="col-sm-12 col-lg-3" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Music Streaming Partner</h3><a href="http://saavn.com/"><img src="/static/main/images1/domac/41.png" height="200px" width="100%"></a>

    </div>
    </div>

    <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px;  ">
      <div class="col-sm-12 col-lg-5"></div>
      <div class="col-sm-12 col-lg-4" style="width: 350px; height: 180px; text-align: center;"><h3 style="margin-bottom: 20px;margin-top: 20px;">Media Sponsor</h3><a href="http://www.colorstv.com"><img src="/static/main/images1/domac/17.png" height="200px"></div>
 <!-- <div class="col-sm-12 col-lg-3" > -->

    </div>
    </div>
    <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px;  ">
     <div class="col-sm-12 col-lg-5"></div>
     <div class="col-sm-12 col-lg-4" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Media Sponsor</h3>
    <a href="http://www.mtvbeats.in/"><img src="/static/main/images1/domac/32.png" height="200px"></div>
    </div> 
    <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px;  ">
    
    <div class="col-sm-12 col-lg-6" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Entertainment Partner</h3><a href="http://www.arre.co.in"><img src="/static/main/images1/domac/5.png" height="200px" width="100%"></div>
    
    
    <div class="col-sm-12 col-lg-6" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;margin-top: 20px;">Media Partner</h3><a href="https://www.youtube.com/channel/UCOquMs0QXyjbw2YMigivRAw"><img src="/static/main/images1/domac/42.jpeg" height="200px">

    </div>
    </div>

    <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px; ">
 <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Media Partner</h3><a href="https://www.youtube.com/channel/UC1nKvoG4VcWwHg7TLfKibUA"><img src="/static/main/images1/domac/44.jpg" height="200px">
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Media Partner</h3><a href="http://atkt.in/"><img src="/static/main/images1/domac/7.png" height="150px" width="100%">
    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Media Partner</h3><a href="http://everyday.thegoan.net/"><img src="/static/main/images1/domac/45.jpg" height="200px" width="100%">
    </div>
    
    <div class="col-sm-12 col-lg-3" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;">Media Partner</h3><a href="https://www.youtube.com/channel/UCqddQRq9NEI2Jcu3LIYK5jg"><img src="/static/main/images1/domac/43.jpg" height="200px">
    </div>
    </div>

    <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px; ">
 <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Talent Partner</h3><a href="http://www.mtvindia.com/labs/"><img src="/static/main/images1/domac/33.png" height="200px">
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Women's Magazine partner</h3><a href="https://womansera.com/"><img src="/static/main/images1/domac/50.png" height="200px" width="100%"></a>
    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Fashion Magazine Partner</h3><a href="http://abraxaslifestyle.com/"><img src="/static/main/images1/domac/1.jpg" height="200px"  width="100%"></a>
    </div>
    
    <div class="col-sm-12 col-lg-3" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;">Print Partner</h3><a href="http://www.afternoondc.in/"><img src="/static/main/images1/domac/2.png" height="200px"  width="100%"></a>
    </div>
    </div>

    <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px; ">
 <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://www.aidm.in/"><img src="/static/main/images1/domac/3.png" height="200px" width="100%"></a>
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="https://allevents.in/#"><img src="/static/main/images1/domac/4.png" height="200px"></a>
    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://artanddeal.in/"><img src="/static/main/images1/domac/6.png" height="200px"></a>
    </div>
    
    <div class="col-sm-12 col-lg-3" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;">Outreach Partner</h3><a href="http://www.blogadda.com/"><img src="/static/main/images1/domac/8.png" height="180px"  width="100%"></a>
    </div>
    </div>


    <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px; ">
 <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Media Partner</h3><a href="#"><img src="/static/main/images1/domac/9.png" height="200px" width="100%"></a>
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="https://buddybits.com/"><img src="/static/main/images1/domac/10.png" height="200px" width="100%"></a>
    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Cultural Magazine Partner</h3><a href="http://www.caravanmagazine.in/"><img src="/static/main/images1/domac/11.png" height="175px" width="100%" ></a>
    </div>
    
    <div class="col-sm-12 col-lg-3" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://www.catchnews.com/"><img src="/static/main/images1/domac/12.jpg" height="200px" ></a>
    </div>
    </div>


    <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px; ">
 <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="https://chaaipani.com/"><img src="/static/main/images1/domac/14.png" height="200px"></a>
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://collegedesk.in/"><img src="/static/main/images1/domac/15.jpg" height="200px" width="100%"></a>
    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://collegemedia.in"><img src="/static/main/images1/domac/16.png" height="200px" width="100%"></a>
    </div>
    
    <div class="col-sm-12 col-lg-3" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://dubeat.com/"><img src="/static/main/images1/domac/18.jpg" height="200px" width="100%"></a>
    </div>
    </div>

    <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px; ">
 <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://www.theeducationtree.com/"><img src="/static/main/images1/domac/19.jpg" height="200px"></a>
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://fests.info/"><img src="/static/main/images1/domac/20.jpg" height="200px" width="100%"></a>
    </div> 
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://festpav.com/"><img src="/static/main/images1/domac/21.png" height="200px" width="100%"></a>
    </div>
    
    <div class="col-sm-12 col-lg-3" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;">Media Partner</h3><a href="http://www.goabackstage.com/"><img src="/static/main/images1/domac/22.jpg" height="200px" width="100%"></a>
    </div>
    </div>

    <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px; ">
 <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Media Partner</h3><a href="https://www.goaprism.com/"><img src="/static/main/images1/domac/23.png" height="175px" width="100%"></a>
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Regional Newspaper Partner</h3><a href="http://www.gomantaktimes.com/"><img src="/static/main/images1/domac/24.png" height="200px"></a>
    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Media Partner</h3><a href="http://grapevineindia.com"><img src="/static/main/images1/domac/25.png" height="200px" ></a>
    </div>
    
    <div class="col-sm-12 col-lg-3" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://www.indiaeducation.net/"><img src="/static/main/images1/domac/26.png" height="200px" width="100%"></a>
    </div>
    </div>

     <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px; ">
 <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Media Partner</h3><a href="https://jammag.com/"><img src="/static/main/images1/domac/28.png" height="200px"></a>
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://knowafest.com/"><img src="/static/main/images1/domac/29.jpg" height="200px"></a>
    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="https://www.meraevents.com/"><img src="/static/main/images1/domac/30.jpg" height="200px"  width="100%"></a>
    </div>
    
    <div class="col-sm-12 col-lg-3" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://metalbase.in/"><img src="/static/main/images1/domac/31.png" height="200px"></a>
    </div>
    </div>

    

     <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px; ">
 <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://musicunplugged.in"><img src="/static/main/images1/domac/34.jpg" height="200px"  width="100%">
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://ohcampus.com"><img src="/static/main/images1/domac/35.png" height="200px">
    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;"> Media Partner</h3><a href="http://www.parikrama.com/home.html"><img src="/static/main/images1/domac/36.jpg" height="200px">
    </div>
    
    <div class="col-sm-12 col-lg-3" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;">Regional channel Partner</h3><a href="http://rdxgoa.com/"><img src="/static/main/images1/domac/38.jpg" height="200px">
    </div>
    </div>

 <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px; ">
 <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://rsjonline.com"><img src="/static/main/images1/domac/39.jpg" height="200px">
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Media Partner</h3><a href="http://twenty19.com"><img src="/static/main/images1/domac/46.jpg" height="200px"  width="100%">
    </div>
    <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;"> Media Partner</h3><a href="http://vascowatchonline.com"><img src="/static/main/images1/domac/47.png" height="200px" width="100%">
    </div>
    
    <div class="col-sm-12 col-lg-3" style="" style="text-align: center;">
    <h3 style="margin-bottom: 20px;">Lifestyle Magazine Partner</h3><a href="http://vivagoamagazine.com"><img src="/static/main/images1/domac/49.jpg" height="200px"  width="100%">
    </div>
    </div>

 <div class="row" style="margin-bottom: 30px; background: rgba(0, 0, 0, 0.4); padding-bottom: 10px; ">
 <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Online Media Partner</h3><a href="http://youthkiawaaz.com"><img src="/static/main/images1/domac/51.png" height="200px" width="100%">
    </div>
     <div class="col-sm-12 col-lg-3" style="" style="width: 350px; height: 180px; text-align: center;">
    <h3 style="margin-bottom: 20px;">Media Partner</h3><a href="http://ytvindia.com"><img src="/static/main/images1/domac/52.png" height="200px">
    </div>
    </div>



    



    </div>
   
    </div>
    </div>
  



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  function myFunction(x) {
    x.classList.toggle("change");
} 
</script>
<script type="text/javascript">
  $(function() {
  var menuVisible = false;
  $('#mob_icon').click(function() {
    if (menuVisible) {
      $('#myMenu').css({'display':'none'});
     $('body')s.css({'background':'#A8D2DE'});
     $('.back_box').css({'width':'100%'});
      $('.back_box').css({'height':'10%'});
      
      menuVisible = false;
      return;
    }
    $('#myMenu').css({'display':'block'});
    $('body').css({'background':''});
     $('.back_box').css({'width':'100%'});
      $('.back_box').css({'height':'100%'});
      
    menuVisible = true;
  });
  
});

</script>
</body>
</html>
