<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | Cari Creatures </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/caricreatures.jpg" class="cover" width="100%"
                         height="auto">
                    <h1>
                        Cari Creatures
                    </h1>
                    <p class="tagline">
                        
                           Solo Participation<br><br>
                           “Caricatures look cool but we're gonna make them look cooler. !This waves,
get ready to make famous personalities lose their jobs and bring forth the
creative side in you. “
                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>
                <div class="card-text">
                    <p>Caricatures look cool but we're gonna make them look cooler. !This waves,
get ready to make famous personalities lose their jobs and bring forth the
creative side in you. </p>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Rules
                </div>
                <div class="card-text">
              
-Participant has to create a caricature of a famous personality on the
condition that it should not depict that person’s real profession. It
should, in some way depict him/her in some other profession.<br>
- The contest begins on August 1st week and the closing date for
receipt of entries is extended to October 2nd week All dates are
subject to change.<br>
- To enter the contest, send the entries to the email id announced
through our social media platforms..<br>
- Only one entry per participant will be entertained.<br>
- The participant should mention their name and college name in the
mail.<br><br>
Judging criteria::<br>
- Drawing skills<br>
- Creativity<br>
- the transformation that has been brought to the person’s
personality/profession.<br>
                </div>
            </div>

            <div class="card">
                <div class="card-heading">
                  Judging Criteria
                </div>
                <div class="card-text">
- Drawing skills<br>
- Creativity<br>
- the transformation that has been brought to the person’s
personality/profession.              <br>

                </div>
            </div>    
            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 9446024217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>