<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | Contention </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/Contention.JPG" class="cover" width="100%"
                         height="auto">
                    <h1>
                        Contention
                    </h1>
                    <p class="tagline">
                        “Sparring for the verbally combative. The Waves British Parliamentary Debate.”<br><br><br>
                            Team of 2 members
                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>
                <div class="card-text">
                    <p>This event is a debate in the British parliamentary format. This implies that
4 teams of 2 speakers each contend a motion. The participants are given
15 minutes to prepare and 7 minutes each to deliver their cases. The
motions range in scope from feminism to economics to international
relations. At the end of each round the teams are ranked by external
adjudicators. The best 16 teams from multiple preliminary rounds break
into the knockout stages.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Rules
                </div>
                <div class="card-text">
              
<b>General Rules:</b><br>
-There is no institutional team cap; however, an institution may be
asked to register only a specified number of teams if the overall
team cap of the tournament is being crossed.<br>
-The number of pre break rounds will be subject to the number of
participating teams.<br>
-Pre break Rounds will be followed by 16 teams breaking into the
next round.<br>
-A novice break will occur depending on the number of novice
teams in the tournament.<br>
-The tournament will run throughout the duration of the festival.<br>
-Hence, the participants are requested to refrain from participating in<br>
-For more details and updates on the registration process, visit :
https://www.facebook.com/ldcbitsg regularly<br>
-If you feel that you are an experienced adjudicator, write a mail to us
at contention@bitswaves.org with your previous tournament
experience and other necessary details.<br>
-If you have a query, write to us at events@bits-waves.org<br><br>
<b>Event Rules:</b>
- The Debate will follow the British Parliamentary format.<br>
- Each team will consist of two participants<br>
- The debate follows the n-1 rule where every n teams belonging to
an institutional contingent must accompanied by n-1 adjudicators<br>
- The tournament will run on all three days of the festival<br>
- The adjudication test will be held on day 0 of the tournament. The
format of the adjudication test will be decided by the adjudication
core of the tournament<br>
- Institutional cross teams are allowed.<br>
- Independent adjudicators are welcome to participate. However, one
must have attended an educational institution sometime in the past
6 months<br>
- Subsidies will be provided to selected adjudicators. This judge
subsidy willdepend on previous debating and adjudication
experience**<br>
- There is an overall team cap of 52 teams. The first 52 teams to
register for the tournament will be given the first preference, while
the following teams will be put up in a wait list<br>
                </div>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 94460 24217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>