<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | Couture </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/corture.jpg" class="cover" width="100%"
                         height="auto">
                    <h1>
                        Couture
                    </h1>
                    <p class="tagline">
                        
“T-shirt designing event”                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>
                <div class="card-text">
                    <p>
Team Composition: 1-3 members<br>
Teams per college: 4 (max)<br>
Time Limit: Round 1: 60 minutes<br>
Registration: online/ on-fest<br>
                     </p>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Rules
                </div>
                <div class="card-text">
              
<b>Elimination Round:</b>
- Each team will get 60 minutes to design and paint their T-
shirts.<br>
- 8 teams will be shortlisted for the next round.<br>
- Only fabric paint are allowed to be used on the T shirts.<br>
- Stationery to be brought by the participants.<br>
- T-shirts will be provided by us according to the sizes
required.<br><br>
Judging Criteria for Elimination Round:<br>
- Aesthetic Appeal.<br>
- Creativity.<br>
- Other parameters and weightage to be decided by the
judges and they will be communicated to the participants
before the event commences.<br><br>
Final Round:<br>
- Teams have to model the T-shirt designed in the first round
on one of their team members and present it to the judges.<br><br>
Judging Criteria for Round2 :<br>
1. Presentation of the model.<br>
2. Incorporation of the theme.<br>
3. Other parameters and weightage to be decided by
the judges and they will be communicated to the
participants before the event commences.    <br>            </div>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 94460 24217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>