<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | Cultural Gauntel </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/culturalgauntlet.JPG" class="cover" width="100%"
                         height="auto">
                    <h1>
                        Cultural Hauntel
                    </h1>
                    <p class="tagline">
                        
“Put your creativity and linguistic skills to the test.”                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>
                <div class="card-text">
                    <p>Team Composition: 1 member<br>
Teams per college: Unlimited<br>
Registration : Online / On Fest<br> </p>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Event Rules :
                </div>
                <div class="card-text">
              <u>Round 1:</u>u><br>
                <b>JAM</b><br>
- Participants will be grouped into sets of 6, by the judges<br>
- Each group shall go through at least one round of regular JAM and
one round of special JAM like Alphabet JAM or Disconnect JAM, the
rules for which shall be explained in detail on the spot.<br>
- Points will be awarded based on the duration for which a contestant
speaks without slurring or making grammatical errors.<br>
- The 15 best JAMmers will move on to the next round<br>
- It is not necessary that one JAMmer is selected from every set.<br>
<br>
Time- 120 to 150 minutes<br>
<br>

<u>Round 2</u>
<b>SHIPWRECK</b>
- Contestants are allotted a famous personality and placed on a
hypothetical sinking ship (there is a potential 'Waves' pun in there
somewhere).<br>
- They have to try to convince the judges (who will be acting as
the captain of the ship) to give them the sole life jacket on the
ship, roleplaying as this person.<br>
- Points are given for creativity and humour and the judge's
decision will be final<br>
<br>
BLOCK AND TACKLE<br><br>
- Contestants are given specific topics by the judges.<br>
- The judges will give them commands (in any order and
frequency) - 'Block'- Where the contestants defend the topic and
'Tackle' - Where they oppose the topic.<br>
- Points to be given on transition, humour, creativity, and
smoothness of the performance.<br>
<br>
Time - 90 to 120 minutes<br>


                </div>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 94460 24217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>