<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | Dacing Duo </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/dancingduo.jpg" class="cover" width="100%"
                         height="auto">
                    <h1>
                        Dancing Duo
                    </h1>
                    <p class="tagline">
                        
“Duo think you can dance!”                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>
                <div class="card-text">
                    <p>
Team composition:2 members<br>
Teams per college: Unlimited<br>
Registration: Online/On the spot<br>
Time limit:<br>
Eliminations: 2 minutes<br>
Finals: 3-5 minutes<br>
                     </p>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Rules
                </div>
                <div class="card-text">
              
Elimination Round:
1. Teams can be formed with the same and opposite gender. Contestants have to
perform a part of their prepared sequence in a closed room in front of the judges.<br>
2. The sequence can last for a maximum of 2 minutes.<br>
3. No additional time will be entertained. Therefore, contestants are advised to
choose their best 2 minutes.<br>
<br>
Final Round 1:<br>
1. Prepared sequence of 3-5 minutes is to be performed in front of the judges and
live audience.<br>
2. The sequence performed for the elimination round must be a part of his sequence.<br>
3. The judging criteria include choreography, sync, plot/theme, creativity.<br>
4. Additional props are allowed although they have to be notified beforehand.<br>
<br>
Final Round 2:<br>
1. The teams are provided with a prop as an obstacle. For e.g. Blindfold, one hand
tied of each of the partners, etc.<br>
2. The obstacles will be provided to each team before the commencement of Final
Round 1 (lottery based – chit selection) and then each team will be given additional
15 minutes after the Final round 1 to prepare a performance of about 2-3 minutes
on the song of their choice.<br>
3. The teams will be judged on the basis of coordination and innovation.<br>
<br>
Final Round 3:<br>
- The cumulative points tally of both the final rounds 1 and 2 will
decide the qualification and will proceed for the final face off round.<br>
- Two teams will be called on the stage simultaneously. The first
team dances to a song played on the spot while the other will stay.<br>
- At the signal of the judges, the first team will stop and the second
one will immediately begin dancing to the continuation of the same
song.<br>
- The process will be repeated every time the song is changed. The
starting sequence for each song will be performed by team 1and 2
alternately.<br>
- In this way, the song will be changed several times while the
participants dance in an alternating manner.<br>
- The winners will be solely decided by the judges based on
choreography, chemistry and innovation.<br>
<br>
Judging Criteria:<br>
Choreography<br>
Technique<br>
Execution<br>
Expression<br>
Entertainment value<br>
Transitions<br>
Timing<br>
                </div>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 94460 24217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>