<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | Inverse </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/mr_waves.jpg" class="cover" width="100%"
                         height="auto">
                    <h1>
                        Inverse
                    </h1>
                    <p class="tagline">
                        
“The Poetry Slam Event”                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>
                <div class="card-text">
                    <p>Team Composition: 1 member<br>
Teams per college : Unlimited<br>
Registration : Online / On Fest<br>
Time limit :3-4 minutes<br></p>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    General Rules
                </div>
                <div class="card-text">
              
- This event is all about presenting the spoken word. Blank verses or
meters, first love or breakup poem, humorous poems or melancholic
ones, we are on the lookout for all styles of poetry.<br>
-  Regionals for InVerse, the Waves Poetry Slam, will be held in Pune,
Mumbai, Goa and Bangalore.<br>
- The contestants will have to perform in the English language.
Mumbai, Goa and Bangalore.<br>
- The contestants will have to perform in the English language.<br>
- Each poet must perform only original work that he/she has created.<br>
- The poet may not use props, costumes, or musical instruments.<br>
- Vulgarity for vulgarity's sake will be penalised.<br>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Event Rules
                </div>
                <div class="card-text">
              
Elimination Round<br>
- At the time of online registration, which will open a few weeks
before the event, the participant will have to submit their poems
online. Not more than 20 will be selected from each city.<br>
- Each poet gets 3 minutes to read out their poems. A 10 second
grace period after the 3:00 mark will be given.<br>
- After 3:10 mark, a penalty of -0.5 is added to the score for every
10 seconds over time.<br>
- The number of contestants chosen to go through to the Finals<br>
will depend on the total number of contestants in the city.
<br>
Final round<br>
- The finals will be held in BITS Goa during Waves 2017.<br>
- Each poet gets 3 minutes to read out their poems. A 10 second
grace period after the 3:00 mark will be given.<br>
- After 3:10 mark, a penalty of -0.5 is added to the score for every
10 seconds over time.<br>
<br>
Judging Criteria:<br>
- The judges will give each poem a score from 0 to 10, with 10
being the highest or “perfect” score. They will be encouraged to
use one decimal place in order to preclude the likelihood of a tie.<br>
- The decision of the judging panel is final and absolute.<br>

                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 94460 24217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>