<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | Jukebox </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/jokebox.JPG" class="cover" width="100%"
                         height="auto">
                    <h1>
                        Jukebox
                    </h1>
                    <p class="tagline">
                        
“Pitch perfect”                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>
                <div class="card-text">
                    <p>
Team Composition: 1 member<br>
Teams per College: 1-10<br>
Registration: Online/On the spot<br>
Time limit:<br>
Eliminations: 5 minutes<br>
Finals: 10 minutes<br>
                     </p>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Rules
                </div>
                <div class="card-text">
              
- There will be two rounds. A maximum of 10 people (maximum of 5
from the Western category and 5 from the Indian category) will be
selected from the elimination round to the final round.<br>
- Western and Indian participants will be judged separately and the
winners will be announced for both the categories separately.<br>
- Out of the 10 (maximum possible) participants from each college, a
maximum of 5 can participate in Western and Indian categories
respectively.<br>
- The song can be in English (Western) OR in any Indian language
(Indian). In case the song is not in Hindi, the participants must e-mail
one copy of the lyrics, translated to Hindi/English, at events@bits-
waves.org.<br>
- 5% of the total score will be deducted for each minute above the
time limit.<br>
- A participant can take part in either Western or Indian category.
- Participants are allowed to use either of the following to accompany
their song:<br>
- Instruments: Only one accompanying instrument is allowed. The
instrument can be played by the singer themselves, or by someone
else.<br>
- Backing track: In case the participant wishes to use a backing track,
they should provide the organisers with the same in a pen-drive.<br>
- Availability of the following instruments (if required) is assured:<br>
1. A Keyboard (in Piano tune)<br>
2. An Acoustic Guitar          <br>      </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Event Rules
                </div>
                <div class="card-text">
Elimination Round:<br>
- The time limit for this round is 5 minutes.<br>
- Participants will have to perform only one song.<br>
- No marks from the elimination round will be carried forward to the
finals.<br>
<br>
Final Round:<br>
- The time limit for this round is 10 minutes, including setup time.<br>
- Participants have to perform two songs, depending upon their category.<br>
- Songs sung in the finals should be different from those sung in the
eliminations.<br>
<br>
Judging criteria:<br>
Rhythm<br>
Sur<br>
Pitching<br>
Choice of Songs<br>
Overall Performance<br>

                </div>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 94460 24217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>