<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | Natyanjali </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/natyanjali.JPG" class="cover" width="100%"
                         height="auto">
                    <h1>
                        Natyanjali
                    </h1>
                    <p class="tagline">
                        
“The feverous hunt for the best dance troupe”                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>
                <div class="card-text">
                    <p>
              THEMATIC<br>
                    “Art in motion”<br>
                    Team composition:8-15 members+ 3 (backstage)<br>
                    Teams per college: Unlimited<br>
                    Registration: Online/On the spot<br>
                    Time limit: 6-10 minutes            <br>
                     </p>
                </div>
            </div>
            <div class="card">
                
                <div class="card-text">
        

                    <div class="card-heading">
                    General Rules
                </div>
                   <p>-A minimum of 6 dancers need to be present on the stage at all times.<br>
-A college/institute can participate in both thematic and non-thematic but the
same crew cannot perform in both.<br>
-Use of props is allowed and may fetch extra points. However, it is not
necessary.<br>
-The Organizing Committee must be notified of the same at least 1 day prior
to the performance by sending a mail to events@bits-waves.org. The
subject of the mail should be “Request to use props for Natyanjali”.<br>
-A tiebreaker round might be introduced after the eliminations, only if found
necessary by the judges and the event managers. The rules for the tie
breaker (if necessary) will be disclosed at the end of the elimination round.<br>
-Hence, at least one member from each group must stay back till the result of
the elimination round is announced.<br>
</p>

                </div>
            </div>
            <div class="card-text">
        

                    <div class="card-heading">
                    Event Rules
                </div>
                   <p>
Elimination Round:<br>
- Participants will be required to perform a prepared dance sequence.<br>
- The duration of this performance will be 6-10 minutes.<br>
- 5% of the total score will be deducted for each minute above the time limit.<br>
- Participants can incorporate any dance form into their performance as long as
it is conveying a story or a message.<br>
- The elimination round is not open to watch, and will be held in a closed room.<br>
Only the judging panel will be viewing the team’s performance.<br>
<br>
Final Round:<br>
- The teams who qualify for the final will have to perform the same
dance sequence as the elimination round. The final round will be held
in the auditorium in front of a live audience.<br>
- Rules and guidelines will be same as those for the elimination round.<br>
- The auditorium screen shall not be used for any purpose (photos,
videos, etc.)<br>
- Teams are not allowed to use any external lighting for their
performance.<br>
<br>
Judging Criteria:<br>
- Costumes<br>
- Props used<br>
- Expressions<br>
- Choreography<br>
- Coordination/synchronization<br>
- Originality of idea<br>
- Dramatic interpretation<br>
- Choreography will be given the highest amount of priority while
awarding points.<br>
                   </p>

                </div>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 94460 24217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>