<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | Nukkad Natak </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/nukkadnatak.jpg" class="cover" width="100%"
                         height="auto">
                    <h1>
                        Nukkad Natak
                    </h1>
                    <p class="tagline">
                        
“Support your cause, bring out the message, captivate the masses with your enthusiasm in this street play event”                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>

                <div class="card-text">
                    <p>- Team composition: 8-20 member<br>
                        - Teams per college: Unlimited<br>
                        - Registration: Online/On the spot<br>
                        - Time limit: 20 minutes<br> </p>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    General Rules
                </div>
                <div class="card-text">
                    - The play should deliver a social message.<br>
                    - No pre-recorded voices or music is allowed.<br>
                    - The play must only be in English/Hindi.<br>
                    - Teams should minimise their use of props.<br>
                    - The organisers are not liable for procuring any props for the
                    participants. The teams are expected to carry their own
                    props.<br>

                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Event Rules
                </div>
                <div class="card-text">
                    
Elimination Round:<br>
- Team should perform the entire playing the elimination round.<br>
- 5% of the total score will be deducted for each minute above the
time limit.<br>
- The duration of the performance should not exceed 20 minutes.<br>
- Use of profanity or vulgarity will result to deduction of points.<br>
<br>
Final Round:<br>
- This round will be conducted in the streets.<br>
- The remaining rules are same as that of the elimination round.<br>
<br>
Judging Criteria:<br>
- Content and topic - 20<br>
- Direction and coherence - 35<br>
- Performance - 45<br>

                </div>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 94460 24217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>