<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | Sizzle </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/sizzle.jpg" class="cover" width="100%"
                         height="auto">
                    <h1>
                        Sizzle
                    </h1>
                    <p class="tagline">
                        
“Set the streets ablaze”                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>
                <div class="card-text">
                    <p>
Team composition: 1 member<br>
Teams per college: Unlimited<br>
Registration: Online/On the spot<br>
Time limit:<br>
Eliminations: 2-3 minutes<br>
Finals: 3-5 minutes<br>
                     </p>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Rules
                </div>
                <div class="card-text">
              
- The soundtracks of the prepared sequences must be submitted to the
event manager in a pen drive, prior to the event.<br>
- Semi-Final rounds 1 & 2 will be conducted one after the other.<br>


                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Event Rules
                </div>
                <div class="card-text">
              



Elimination Round:<br>
- Participants will be required to perform a 2-minute sequence out of their
prepared 3-5 minutes' set.<br>
- The elimination round is not open to watch and will be held in a closed room.
Only the judging panel will be viewing the performances.<br>
- Use of props is not allowed.<br>
<br>
Semi-Final Round 1:<br>
1. Participants will be required to perform their entire prepared set of 3-5
minutes.<br>
2. 5% of the total score will be deducted for each minute above the time
limit.<br>
<br>
Semi-Final Round 2:<br>
- This is a theme/prop round.<br>
- Participants will be divided into groups of 3.<br>
- One group will perform at a time, where all 3 participants in that group
dance simultaneously on the tune provided to them.<br>
1. area corresponds to a particular theme/prop, and the participant will
have to stick to the theme/prop assigned to him/her. At the signal of the
judges, positions will be shuffled and the participants will have to
continue in a new area with a new theme/prop.<br>
2. Each group will be shuffled thrice so that all the participants in the
same group get to use all three themes/props.<br>
3. If a participant steps out of the area, he/she shall be warned once. If the
offence is repeated, the participant shall be eliminated immediately.<br>
<br>
Final Round:<br>
1. This is the round of footloose.<br>
2. Two participants will be called on the stage simultaneously. The first
participant dances to a song played on the spot while the other will
stay still.<br>
3. At the signal of the judges, the first participant will stop and the
second participant will immediately begin dancing to the continuation
of the same song.<br>
4. The process will be repeated every time the song is changed. The
starting sequence for each song will be performed by participants 1
and 2 alternately.<br>
5. In this way, the song will be changed several times while the
participants dance in an alternating manner.<br>
<br>

                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Judging Criteria
                </div>
                <div class="card-text">
<br>
Elimination and Semi-Final Round 1:<br>
1. Choreography<br>
2. Expressions<br>
3. Stage presence<br>
<br>
Semi-Final Round 2:<br>
Creativity in using props<br>
<br>
Final Round:<br>
1. Entertainment Factor<br>
2. Spontaneity<br>
3. Creativity<br>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 94460 24217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>