<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | Show Me The Funny </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/smtf.JPG" class="cover" width="100%"
                         height="auto">
                    <h1>
                        Show Me The Funny
                    </h1>
                    <p class="tagline">
                        
“Laugh your troubles away in this stand up comedy competition”                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>
                <div class="card-text">
                    <p>
Team composition: 1 member<br>
Teams per college: Unlimited<br>
Registration: Online<br>
<br>
Show Me The Funny is a stand up comedy competition .The eliminations shall
be held in the respective cities where participants shall perform a stand up
comedy act in the allotted time . Two finalists shall be selected from each
city to perform at the finals(the number is subject to change) .18 finalists shall
perform in a venue with an audience of about 300. The winner shall open for
the waves comedy night and win prize money of an amount that shall be
disclosed at a later stage.<br>
                     </p>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Rules
                </div>
                <div class="card-text">
              
- The participants must strictly adhere to the allotted time(3-4 mins per
person) , exceeding time limit may result in decrease of points.<br>
- Excessive use of vulgar language may result in decrease of points.<br>
- Plagiarised content shall result in disqualification.<br>
- Comedians must perform their act in Hindi or English only.<br>
- The judge’s decision shall be final in all cases<br>
<br>
Judging Criteria:<br>
- Quality of Content<br>
- Audience response<br>
- Showmanship<br>
- Confidence<br>
                </div>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 94460 24217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>