<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | Solonote </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/solonote.jpg" class="cover" width="100%"
                         height="auto">
                    <h1>
                        Solonote
                    </h1>
                    <p class="tagline">
                        
“Let the notes do the talking”                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>
                <div class="card-text">
                    <p>
Team composition: 1 member<br>
Teams per college: 2<br>
Registration: Online/ On the spot<br>
Time limit: 6 minutes (Round 1)<br>
                     </p>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Rules
                </div>
                <div class="card-text">
              
Round 1:<br>
-  There will be two categories: Non-percussion instruments and Percussion
instruments.<br>
-  Participants are allowed to use ONLY ONE instrument to play anything of
their choice.<br>
-  The time limit for this round is 6 minutes, including setup time.<br>
-  5% of the total score will be deducted for each minute above the time limit<br>
-  Availability of the following instruments is assured (if required):<br>
o A Keyboard (in Piano tune)<br>
o Acoustic Guitar<br>
o Tabla<br>
o Congo<br>
o Drum Set<br>
-  The first part will be a solo performance and then the winner of each
category will be decided by a face-off.<br>
-  50% marks of the solo performance will be carried over to the face-off round.<br>
<br>
Face-off Round(percussion and melody instruments):<br>
-  First, the highest scores for each individual instrument will be declared in
both the categories.<br>
-  As a final face off, for the percussions category, each selected participant
will be given a melody track to play on, and vice versa.<br>
-  The melody track or the percussion track will be same for every
participant in the respective categories.<br>
-  In this way, the judges will come down to one winner in each category.<br>
-  If there is only one participant for an instrument, a normalization process
will be followed to decide if that instrumentalist qualifies for the faceoff.  <br>              </div>
<br>
Judging Criteria:<br>

- Rhythm<br>
- Entertainment Value<br>
- Melody<br>
- Clarity of Tone<br>
- Mastery of Piece<br>
- Dynamics<br>
- Expression<br>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 94460 24217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>