<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--Open Graph-->
       
    <meta property="og:type" content="website"/>
  

    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta name="google-site-verification" content="vDuy64gCsdqy5k_UQclTx1Jb86yi_KLN2EHWT7luW4Q"/>
    <title>Waves 2017 | SpinOff </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/main/css/oneevent.css" rel="stylesheet">
</head>
<body>
<a href="/events" class="closeC"><img src="/static/main/images1/close.png" height="40px" width="40px"></a>
<div class="container-fluid" style="width: 100%; overflow: hidden">
    <div class="row">
        <div class="col-md-4 side-bar " style="padding:0;">
            <div class="content ">
                <div class="heading">
                    <img src="/static/main/images1/events/spinoff.jpg" class="cover" width="100%"
                         height="auto">
                    <h1>
                        SpinOff
                    </h1>
                    <p class="tagline">
                        
“The Music will never stop. The Heartbeat will never fade. The Party will never
End”                        
                        
                    </p>
                    <br>
                </div>
                <div class="side-bottom-bar row">
                    <div class="col-md-12" style="padding-bottom: 2%;">
                        <a class="btn btn-1f btn-1" href="https://www.facebook.com/bitswaves/">Facebook</a>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-1f btn-1" href="/reg">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 right-bar">
            <div class="card">
                <div class="card-heading">
                    About
                </div>
                <div class="card-text">
                    <p>
Team composition: 1 member<br>
Teams per college: Unlimited<br>
Registration: Online<br>
<br>
Spin-off is a DJing Event which primarily focuses on bringing upcoming Djs<br>
of the nation together to compete and showcase their skills on one of the<br>
best platforms in the Country judged by the Gurus of the cultures<br>
themselves. The festive Goan Atmosphere and an audience from all across<br>
the nation is bound to create an intoxicating and ecstatic “never has been<br>
before” experience that a DJ could ask for. The Winner of the event Gets a<br>
once in a lifetime chance to perform on the Iconic EDM Night of Waves.<br>
                     </p>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    Rules
                </div>
                <div class="card-text">
              
Eliminations :<br>
- Each Contestant will be given 10 minutes to mix his/her tracks on
stage. Pre Mixed tracks will not be considered and may result in
disqualification of the contestant.<br>
- The Participants are allowed to use their own Headphones if required
and allowed by the Honourable Judges.<br>
- Contestants may not use any external aid once his/her time begins on
stage.<br>
- Winners shall qualify to participate in the finals during Waves 2017 at
Goa.<br>
- Failure to abide by the Judges, Organising Committee and the rules set
forth will result in immediate disqualification from the event.<br>
<br>
Semi-Finals and Finals :<br>
- Each Contestant will be given 10 minutes to mix his/her tracks on stage.
Pre Mixed tracks will not be considered and may result in disqualification
of the contestant.<br>
- The Participants are allowed to use their own Headphones if required and
allowed by the Honourable Judges.<br>
- Contestants may not use any external aid once his/her time begins on
stage.<br>
- Winner of Spin-off will get to perform on the EDM night of Waves<br>
- Failure to abide by the Judges, Waves Control and the rules set forth will
result in immediate disqualification from the event.<br>
<br>
udging Criteria:<br>
Contestants will be judged on the following factors out of a score of 10
(5+5).<br>
A score out of 5 based on the following (5):<br>
- Mixing Techniques and Track Selection<br>
- Response from the audience<br>
and another out of 5 based on (5)<br>
- Micing (Mic Use)<br>
- Body Language<br>
- Appearance<br>
</div>
            </div>

            <div class="card">
                <div class="card-heading">
                    Contact
                </div>
                <div class="card-text">
                    <p>Srivats Mohan<br />
srivats@bits-waves.org<br />
+91 89766 95524</p>
<p>Aravind Venugopal<br />
aravindv@bits-waves.org<br />
+91 94460 24217</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>