<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Lex Omnia Moot | Waves'17</title>
<link href="/static/events/moot/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="/static/events/moot/js/jquery.min.js"></script>
<!--theme-style-->
<link href="/static/events/moot/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Lex Omnia Moot Court, Moot COurt, Waves 2017, Waves Bits Goa, BITS Goa, BUTS Pilani" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript" src="/static/events/moot/js/move-top.js"></script>
<script type="text/javascript" src="/static/events/moot/js/easing.js"></script>
<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>

<!--animate-->
<link href="/static/events/moot/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/static/events/moot/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Carme' rel='stylesheet' type='text/css'>

</head>
<body>
<!--header-->
<div class="header" id="header">
<div class="header-top wow fadeInLeft animated" data-wow-delay=".5s">
	<div class="container">
		<ul>
			<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+91-9650200771</li>
			<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:lexomnia@bits-waves.org">lexomnia@bits-waves.org</a></li>
			<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>BITS Pilani, KK Birla Goa Campus</li>
		</ul>
	</div>
</div>
	<div class="head" >
		<div class="container">
			 <div class=" logo ">
							<h1 class="animated wow pulse" data-wow-delay=".5s">
							<a href="index.html">Lex Omnia Moot Court</a></h1>
						</div>

						<div class=" top-nav">
				
				<!-- script-for-menu -->
				 <script>
				   $( "span.menu" ).click(function() {
					 $( "ul.nav1" ).slideToggle( 300, function() {
					 // Animation complete.
					  });
					 });
				</script>
				<!-- /script-for-menu -->
			</div>

			  <div class="clearfix"></div>	
		</div>
	</div>

</div>

<div class="demo-2">            
<div id="example2" class="core-slider core-slider__carousel example_2">
            <div class="core-slider_viewport">
              <div class="core-slider_list">
<div class="core-slider_item">
<img src="/static/events/moot/images/ba4.jpg" class="img-responsive" alt="">
</div>
                  <div class="core-slider_item">
				  <img src="/static/events/moot/images/ba1.jpg" class="img-responsive" alt="">
				  </div>
                  <div class="core-slider_item">
				  <img src="/static/events/moot/images/ba2.jpg" class="img-responsive" alt="">
				  </div>
                  <div class="core-slider_item">
				<img src="/static/events/moot/images/ba3.jpg" class="img-responsive" alt="">
				  </div>
              </div>
            </div>
            <div class="core-slider_nav">
              <div class="core-slider_arrow core-slider_arrow__right"></div>
              <div class="core-slider_arrow core-slider_arrow__left"></div>
            </div>
            <div class="core-slider_control-nav"></div>
          </div>
        </div>
		<link href="/static/events/moot/css/coreSlider.css" rel="stylesheet" type="text/css">
<script src="/static/events/moot/js/coreSlider.js"></script>

<script>
$('#example1').coreSlider({
  pauseOnHover: false,
  interval: 3000,
  controlNavEnabled: true
});
$('#example2').coreSlider({
  clone: true,
  cloneItems: 3
});
</script>


<!--content-->
<div class="content" id="services">
	<div class="container">
		<div class="services w3layouts-agile">
		<div class="service-head">
			<h3>About</h3>
				<p>5th edition of the Lex Omnia Moot Court Competition, hosted by BITS-Pilani K.K. Birla Goa Campus, Goa, India, in association with NUJS, Kolkata.</p>
			</div>
	<div class=" us-ser w3ls-agile">
				<div class="col-md-4 why-choose wow fadeInLeft animated" data-wow-delay=".5s">
					<div class=" ser-choose1">
						<div class=" icon1">
						<div class=" icon">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>

						</div>
						</div>
						<div class="ser-top "> 
							<!-- <h5>Sed do eiusmod</h5> -->
							<p>Lex Omnia started in the year 2013 as a humble competition seeing reasonable participation.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					
				</div>
				<div class="col-md-4 why-choose wow fadeInUp animated" data-wow-delay=".5s">
					<div class=" ser-choose1">
						<div class=" icon1">
						<div class=" icon">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>

						</div>
						</div>
						<div class="ser-top "> 
						<!-- 	<h5>On the other</h5> -->
							<p>Over the years the participation has grown to more than 50 teams from across the country and we hope to see it increase further</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					
				</div>
				<div class="col-md-4 why-choose wow fadeInRight animated" data-wow-delay=".5s">
				<div class=" ser-choose1">
						<div class=" icon1">
						<div class=" icon">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>


						</div>
						</div>
						<div class="ser-top "> 
							<!-- <h5>Labore et</h5> -->
							<p>The Competition is scheduled to be held from 27th – 29th October, 2017</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					
				</div>
		<div class="clearfix"> </div>
			</div>
		</div>
		</div>
	</div>
<!--content-->


<div class="content-pro wthree-agileits">
	<div class="container">
		<div class="col-md-6 content-pro-head wow fadeInLeft animated" data-wow-delay=".5s">
			<h6>General Information</h6>
			<p>The teams are required to send memorials 20 days before the oral rounds start which are then evaluated to shortlist 36 qualifying teams. The competition is rigorous as the qualifying teams of equal calibre compete against each other in multiple oral rounds. Spread over 3 days, the oral rounds comprise eliminations on the first day after which 8 teams make it through to the quarter finals. Both the quarter and semi-finals are held on the second day and the best two teams qualify for the final rounds. </p>
		
    </div>
  <div class="col-md-6 content-pro-head1 wow fadeInDown animated" data-wow-delay=".5s">
    <div class="b-link-stripe b-animate-go  thickbox">
							<img class="img-responsive" src="/static/events/moot/images/pr.jpg" alt="" />
						<div class="b-wrapper">
									<h4 class="b-animate b-from-left  b-delay03 real">
									
									</h4>
								</div>
	                      </div>
  </div>
	<div class="clearfix"> </div>
	</div>
</div>
<div class="content-pro wthree-agileits">
	<div class="container">
		
	  <div class="col-md-6 content-pro-head2 wow fadeInUp animated" data-wow-delay=".5s">
		<div class="b-link-stripe b-animate-go  thickbox">
							<img class="img-responsive" src="/static/events/moot/images/pr1.jpg" alt="" />
						<div class="b-wrapper">
									<h4 class="b-animate b-from-left  b-delay03 real">
									
									</h4>
								</div>
	                      </div>
	  </div>
	  <div class="col-md-6 content-pro-head wow fadeInRight animated" data-wow-delay=".5s" style="padding-bottom: 10px;">
			<h6>Hope to See You There!</h6>
			<p>The prizes are given to the best team, runners up, best student advocate, and best memorial. The rounds are evaluated by advocates and judges from district and high courts of Goa and nearby areas. The Moot Court Organizers of Lex Omnia Moot Court on behalf of Waves and BITS-Pilani K.K. Birla Goa Campus would like to invite your esteemed University/College to participate in this fulfilling experience.</p>
			
		</div>
		<div class="clearfix"> </div>
	</div>
</div>

<!-- //services -->
<div class="welcome w3layouts-agile" style="margin-top: 20px;" >
	<div class="container">
			<h2>Links</h2>
			<div class=" wow fadeInDown animated" data-wow-delay=".5s">
				<nav class="nav-sidebar">
					<ul class="nav tabs ">
					  <li ><a href="https://drive.google.com/file/d/0B3QyWGqR0GgpTjVaNUUzc0p0S2s/view?usp=sharing">Proposition</a></li>
					  <li class=""><a href="https://drive.google.com/open?id=0B0bIxXB--hsVQWZ6ejVPdUxKbXc" >Rulebook</a></li> 
					  <li class=""><a href="https://drive.google.com/open?id=0B3QyWGqR0GgpdE9Ec1JHbkN0OXc" >Schedule</a></li>  
					  <li class=""><a href="https://drive.google.com/file/d/0B3QyWGqR0GgpOUt0Wm5Sa1UzOTg/view?usp=sharing" >Registration</a></li>
					</ul>
				</nav>
				
			</div>
		</div>
	</div>

<!-- //services -->





	<!--footer-->
	<div class="copy wthree-agile wow fadeInDown animated" data-wow-delay=".5s">
		<p class="footer-grid" >Waves 2017 All rights reserved | Design by  <a href="http://prefedge.com" target="_blank">Aryan Agarwal</a> | Backend by <a href="http://sharanry.github.io" target="_blank">Sharan</a> </p>
	</div>
		 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	

<!-- for bootstrap working -->
	<script src="/static/events/moot/js/bootstrap.min.js"></script>
<!-- //for bootstrap working -->
</body>
</html>